<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- <script>
      function createCard(title, description) {
        const card = document.createElement("div");
        card.classList.add("card");
        //or card.className="card"

        const cardTitle = document.createElement("h2");
        cardTitle.innerText = title;
        card.appendChild(cardTitle);

        const cardDesc = document.createElement("p");
        cardDesc.innerText = description;
        card.appendChild(cardDesc);
        return card;
      }
      const app = document.querySelector("#app");
      const firstCard = createCard("Card 1", "This is card 1 Descriptoin.");
      const secondCard = createCard("Card 2", "This is card 2 Descriptoin.");

      app.appendChild(firstCard);
      app.appendChild(secondCard);
    </script> -->
    <!-- Own practice -->
    <script>
      function Card(title, desc) {
        const card = document.createElement("div");
        card.classList.add("card");

        const titleEl = document.createElement("h2");
        titleEl.innerText = title;
        card.appendChild(titleEl);

        const descEl = document.createElement("p");
        descEl.innerText = desc;
        card.appendChild(descEl);
        return card;
      }
      const mainEl = document.querySelector("#app");
      const cardFirst = Card("Gurpreet singh", "live in ludhiana");
      mainEl.appendChild(cardFirst);
    </script>
  </body>
</html>
